{
  "openapi": "3.1.0",
  "info": {
    "title": "FMP Financial Data API",
    "version": "1.0.0",
    "description": "Conjunto de acciones para obtener datos financieros desde Financial Modeling Prep"
  },
  "servers": [
    {
      "url": "https://financialmodelingprep.com/api/v3"
    }
  ],
  "paths": {
    "/cash-flow-statement/{symbol}": {
      "get": {
        "operationId": "getCashFlowStatement",
        "summary": "Estado de flujos de efectivo",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 4 }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Estado de flujos de efectivo obtenido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": { "type": "string" },
                    "financials": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  },
                  "required": ["financials"]
                }
              }
            }
          }
        }
      }
    },
    "/balance-sheet-statement/{symbol}": {
      "get": {
        "operationId": "getBalanceSheetStatement",
        "summary": "Balance general (últimos reportes)",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 4 }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance general obtenido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": { "type": "string" },
                    "financials": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  },
                  "required": ["financials"]
                }
              }
            }
          }
        }
      }
    }
  }
}

