{
  "openapi": "3.0.0",
  "info": {
    "title": "FMP Financial Data API",
    "version": "1.0.0",
    "description": "Conjunto de acciones para obtener datos financieros desde Financial Modeling Prep"
  },
  "servers": [
    {
      "url": "https://financialmodelingprep.com/api/v3"
    }
  ],
  "paths": {
    "/profile/{symbol}": {
      "get": {
        "operationId": "getCompanyProfile",
        "summary": "Perfil de empresa",
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Perfil de empresa exitosamente obtenido" } }
      }
    },
    "/ratios-ttm/{symbol}": {
      "get": {
        "operationId": "getRatiosTTM",
        "summary": "Ratios financieros TTM",
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Ratios financieros obtenidos" } }
      }
    },
    "/income-statement/{symbol}": {
      "get": {
        "operationId": "getIncomeStatement",
        "summary": "Estado de resultados (últimos reportes)",
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 4 } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Estado de resultados obtenido" } }
      }
    },
    "/quote/{symbol}": {
      "get": {
        "operationId": "getCurrentQuote",
        "summary": "Precio actual del activo",
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Cotización obtenida exitosamente" } }
      }
    },
    "/price-target/{symbol}": {
      "get": {
        "operationId": "getPriceTarget",
        "summary": "Precio objetivo (analistas)",
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Precio objetivo obtenido" } }
      }
    },
    "/cash-flow-statement/{symbol}": {
      "get": {
        "operationId": "getCashFlowStatement",
        "summary": "Estado de flujos de efectivo",
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 4 } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Estado de flujos de efectivo obtenido" } }
      }
    },
    "/balance-sheet-statement/{symbol}": {
      "get": {
        "operationId": "getBalanceSheetStatement",
        "summary": "Balance general (últimos reportes)",
        "parameters": [
          { "name": "symbol", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 4 } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Balance general obtenido" } }
      }
    }
  }
}

